@use "../abstracts/" as *;

.about-section {
    & h3,
    & p {
        // border: 1px solid orangered;
        margin-bottom: $fs6;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Media Queries

@include sm {
    .about-section {
        padding: rem(15) rem(10);
    }
}

@include md {
    .about-section {
        padding: rem(30) rem(20);
    }
}
