@use "../abstracts" as *;

aside {
    // margin-top: rem(40);
    background-color: $bg-color-dark;

    .win-loss-container {
        a:link,
        a:visited {
        }
        position: relative;
        @include flexbox(row, center, center);

        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            background-color: $team-color-orange;
            width: rem(100);
            height: rem(50);
        }

        &::after {
            content: "2022";
            position: absolute;
            font-family: "astrudregular", sans-serif;
            font-size: $fs2;
            text-shadow: 1px 2px 7px $bg-color-dark;
            letter-spacing: rem(5);
            z-index: 1;
            top: 50%;
            left: 50%;
            color: #fff;
            font-weight: bold;
            width: rem(100);
            height: rem(50);
        }
    }

    .schedule-section {
        & h3,
        & p {
            margin-bottom: $fs6;
        }
    }

    .schedule-grid {
        display: flex;
        flex-direction: column;
        border-radius: $fs9;
        overflow: hidden;
        max-width: rem(420);
        margin: 0 auto;
        p {
            margin: 0;
        }

        .grid-col {
            display: grid;
            grid-template-columns: 1fr;
            min-height: $fs3;
            align-items: center;
        }
    }
}

@include xs {
    .win-loss-container {
        &::before {
            transform: rotate(-10deg) skew(-5deg) translate(-40%, -205%);
        }

        &::after {
            transform: rotate(-5deg) translate(-25%, -200%);
        }
    }
}

@include variable(rem(150)) {
    aside .schedule-grid .grid-col {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include sm {
    aside {
        padding: rem(15) rem(10);
    }
    .win-loss-container {
        &::before {
            transform: rotate(-10deg) skew(-5deg) translate(-140%, -205%);
        }

        &::after {
            transform: rotate(-5deg) translate(-125%, -190%);
        }
    }

    aside {
        & .schedule-grid .grid-col {
            grid-template-columns: rem(48) rem(56) 1fr rem(64);
            & .g-item {
                padding-left: $fs9;
            }
        }
    }
}

@include md {
    aside {
        padding: rem(30) rem(20);
    }
}
