@use "../abstracts/" as *;

.field-locs-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(20);
}

.field-card {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    .field-card-text {
        width: 100%;
    }
    &:last-child {
        margin-bottom: 0;
    }

    .field-card-img {
        box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.3);
        border-radius: rem(5);
    }
}

.field-card-text {
    & h2 {
        font-size: $fs4;
    }
    & h3 {
        margin-top: rem(30);
        font-size: $fs5;
        text-transform: uppercase;
    }
    & p {
        margin-left: rem(10);
    }
}

@include sm {
    .field-card {
        padding: rem(15) rem(10);
    }
}

@include md {
    .field-card {
        grid-template-columns: 1fr 1fr;
        padding: rem(30) rem(20);

        .field-card-text {
            padding: 0 rem(20);
        }

        .field-card-img {
            max-width: rem(350);
        }
    }
}

// @include variable(rem(900)) {
//     .field-card {
//         flex-direction: row;
//         flex-grow: 1;
//         justify-content: space-between;
//         align-items: center;
//     }
// }
