@use "../abstracts/" as *;

.field-locations-grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: rem(900);
    margin: 0 auto;
    min-width: rem(135);
    gap: rem(20);
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}
