@use "../abstracts" as *;

.footer-links {
    padding: 0;
    margin: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    grid-template-areas:
        "internal"
        "external"
        "social"
        "author";
}

.grid-title {
    margin-bottom: rem(5);
}

.social-links-container {
    padding-top: rem(2);
    @include flexbox(row);
    gap: rem(10);
}

// Media Queries

@include sm {
    footer {
        padding-top: rem(20);
        padding-left: rem(10);
        padding-right: rem(10);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "internal external"
            "social author";
    }
    .footer-links {
        padding-left: rem(20);
    }
}

@include md {
    footer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "internal external social author";
    }
}
