@use "../abstracts/" as *;

body {
    max-width: rem(900);
    margin: 0 auto;
}

header {
    margin-bottom: rem(20);
}

.success-container {
    background-color: $bg-color-light;
}

@include sm {
    .success-container {
        padding: rem(15) rem(10);
    }
}

@include md {
    .success-container {
        padding: rem(30) rem(20);
    }
}
