@use "../abstracts" as *;

.homepage-grid {
    min-width: rem(135);
    // border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(20);
    margin: 0 auto;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "about"
        "contact"
        "sponsors"
        "footer";
}

// Media Queries

@include md {
    .homepage-grid {
        grid-template-columns: 1fr rem(350);
        max-width: rem(900);
        margin: 0 auto;
        grid-template-areas:
            "header aside"
            "main	aside"
            "about	sponsors"
            "contact	sponsors"
            "footer footer";
    }
}
