@use "../abstracts" as *;

.mets-title {
    max-width: 100%;
}

.nav-container {
    width: 100%;
    @include flexbox(column, center, center);
}

nav {
    @include flexbox(row, center, space-between);
    gap: $fs6;
}
