@use "../abstracts" as *;

.nav-container {
    width: 100%;
    @include flexbox(column, center, center);
    padding: rem(16) rem(0);
}

nav {
    @include flexbox(row, center, space-between);
    gap: $fs6;
}
