@use "../util/" as *;

// footer {
//     padding: 0 var(--fs6);
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
// }

// .pages-container {
//     display: flex;
//     flex-direction: column;
//     .footer-link {
//         border: 1px solid yellow;
//     }
// }

footer {
    padding: var(--fs4) var(--fs6);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--fs2);

    .footer-links {
        margin: 0;
        padding: 0;
    }

    .external-links-container {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .footer-icon {
        width: rem(20);
        height: auto;
        margin-right: rem(5);

        &:last-child {
            margin-right: 0;
        }
    }

    .grid-title {
        margin-bottom: rem(16);
    }
}
