@use "../util/" as *;

.nav-container {
    width: 100%;
    @include flexBox(column, center, center);
    padding: rem(16) rem(0);
}

nav {
    @include flexBox(center, space-between);
    gap: var(--fs6);
}

.mets-title {
    margin: rem(20) 0;
    height: auto;
    width: 50%;
    z-index: 100;
}
