@use "../util/" as *;

.hero-section {
    position: relative;
    padding: var(--fs4) 0;

    .divider-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    .divider-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .divider-icon {
        display: block;
        width: calc(103% + 1.3px);
        height: 30px;
        transform: rotateY(180deg);
    }

    .hero-content {
        .hero-images-collage {
            display: flex;
            justify-content: center;
            margin-bottom: var(--fs1);
        }

        .hero-img-1 {
            width: 50%;
            transform: translate(20%, 0);
            z-index: -1;
        }

        .hero-img-2 {
            width: 50%;
            transform: translate(-15%, 25%);
            z-index: 0;
        }

        .hero-text-container {
            padding: 0 rem(16);

            & h2 {
                margin-bottom: var(--fs6);
            }

            & p {
                margin-bottom: var(--fs9);
            }

            & p:last-child {
                margin-bottom: 0;
            }
        }
    }
}
