@use "../util/" as *;

.about-section {
    padding: var(--fs1) var(--fs6) var(--fs4) var(--fs6);
    position: relative;

    .divider-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .divider-icon {
        display: block;
        width: calc(103% + 1.3px);
        height: 30px;
        transform: rotateY(180deg);
    }
    h3 {
        margin-bottom: rem(16);
    }
}
