// app/scss/layouts/section-hero

@use "../util/" as *;

.hero-content {
    padding: rem(16) 0;
}

.hero-images-collage {
    display: flex;
    justify-content: center;
    margin-bottom: var(--fs1);
}

.hero-img-1 {
    width: 50%;
    transform: translate(20%, 0);
    z-index: -1;
}

.hero-img-2 {
    width: 50%;
    transform: translate(-15%, 25%);
    z-index: 0;
}

.hero-text-container {
    padding: 0 rem(16);

    & h2 {
        margin-bottom: var(--fs6);
    }

    & p {
        margin-bottom: var(--fs9);
    }

    & p:last-child {
        margin-bottom: 0;
    }
}
// end hero section
