@use "../util/" as *;

.schedule-section {
    padding: var(--fs4) var(--fs6);
    & h3,
    & p {
        margin-bottom: var(--fs6);
    }
}

.schedule-grid {
    display: flex;
    flex-direction: column;

    .g-item {
        border: 1px solid purple;
    }
}

.grid-col {
    display: grid;
    grid-template-columns: rem(48) rem(56) 1fr rem(64);
    border: 1px solid red;
}

.schedule-game-row:nth-child(even) {
    background-color: yellow;
}
