@use "../abstracts" as *;

body {
    background-color: $bg-color-dark;
}

.hero-section,
.about-section,
.contact-section {
    background-color: $bg-color-light;
    & p {
        color: $bg-color-dark-shade1;
    }
}

.schedule-text-content {
    & h3 {
        color: $title-text-white;
    }
    & p {
        color: $bg-color-light-tint;
    }
}

.win-loss-container {
    font-weight: bold;
    color: $title-text-white;
}

.sponsors-text {
    & h3 {
        color: $title-text-white;
    }
    & p {
        color: $bg-color-light-tint;
    }
}

header,
aside,
footer {
    background-color: $bg-color-dark;
    color: $bg-color-light;
}

.footer-icon {
    color: $team-color-orange;

    &:hover {
        color: $team-color-orange-hover;
    }
}

.link:link,
.link:visited {
    color: $team-color-orange;
}

.link:hover,
.link:active {
    color: $team-color-orange-hover;
    cursor: pointer;
}

.schedule-grid {
    background-color: $bg-color-light;
    color: $bg-color-dark;

    .schedule-game-row:nth-child(even) {
        background-color: $schedule-even-rows;
    }
}
