/* /app/scss/globals/colors.scss */

:root {
    --bg-color-light: rgb(217, 217, 217);
    --bg-color-dark: hsl(0, 0%, 10%);
    --link-primary: hsl(22, 97%, 52%);
    --link-primary-hover: hsl(22, 76%, 67%);
}

.bg-color {
    background-color: var(--bg-color-base);
}

header {
    background-color: var(--bg-color-dark);
}

.nav-link:link,
.nav-link:visited {
    color: var(--link-primary);
}

.nav-link:hover,
.nav-link:active {
    color: var(--link-primary-hover);
}

.divider-icon {
    fill: var(--bg-color-dark);
}

.main-section {
    background-color: var(--bg-color-dark);
    color: var(--bg-color-light);
}

footer {
    background-color: var(--bg-color-dark);
    color: var(--bg-color-light);
}

.footer-icon {
    color: var(--link-primary);

    &:hover {
        color: var(--link-primary-hover);
        cursor: pointer;
    }
}

.footer-link:link,
.footer-link:visited {
    color: var(--link-primary);
}

.footer-link:hover,
.footer-link:active {
    color: var(--link-primary-hover);
}

.link {
    color: var(--link-primary);
}

/* END COLORS */
