/* /app/scss/globals/colors.scss */

:root {
    --bg-color-light: hsl(0, 0%, 85%);
    --bg-color-dark: hsl(0, 0%, 10%);
    --team-color-orange: hsl(22, 97%, 52%);
    --team-color-orange-hover: hsl(22, 76%, 67%);
    --team-color-purple: hsl(300, 100%, 12%);
    --schedule-even-rows: hsl(0, 0%, 75%);
}

// .bg-color {
//     background-color: var(--bg-color-dark);
// }

header {
    background-color: var(--bg-color-dark);
}

.nav-link:link,
.nav-link:visited {
    color: var(--team-color-orange);
}

.nav-link:hover,
.nav-link:active {
    color: var(--team-color-orange-hover);
}

.divider-icon {
    fill: var(--bg-color-dark);
}

aside {
    background-color: var(--bg-color-dark);
    color: var(--bg-color-light);
}

footer {
    background-color: var(--bg-color-dark);
    color: var(--bg-color-light);
}

.footer-icon {
    color: var(--team-color-orange);

    &:hover {
        color: var(--team-color-orange-hover);
        cursor: pointer;
    }
}

.link {
    color: var(--team-color-orange);
}

.schedule-grid {
    background-color: var(--bg-color-light);
    color: var(--bg-color-dark);

    .schedule-game-row:nth-child(even) {
        background-color: var(--schedule-even-rows);
    }
}

a:link,
a:visited {
    color: var(--team-color-orange);
}

a:hover,
a:active {
    color: var(--team-color-orange-hover);
}

/* END COLORS */
