/* app/scss/globals/typography.scss */

@use "../util/" as *;

// These variables are for type-scale

:root {
    --fs1: 3.052rem;
    --fs2: 2.441rem;
    --fs3: 1.953rem;
    --fs4: 1.563rem;
    --fs5: 1.25rem;
    --fs6: 1rem;
    --fs7: 0.8rem;
    --fs8: 0.64rem;
    --fs9: 0.512rem;
    --fs10: 0.41rem;
    /* pixel equivalents: 
	3.052rem/48.83px
	2.441rem/39.06px
	1.953rem/31.25px
	1.563rem/25.00px
	1.25rem/20.00px	
	1rem/16.00px	
	0.8rem/12.80px	
	0.64rem/10.24px	
	0.512rem/8.19px	
	0.41rem/6.55px
*/
}

h1 {
    font-family: "astrudregular", sans-serif;
    font-size: rem(48);
    // font-size: clamp();
}

h2,
h3,
h4 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Montserat", sans-serif;
}

.mets-title {
    position: relative;
    letter-spacing: rem(2);
    color: black;
    // -webkit-text-fill-color: hsl(280, 78%, 20%);
    -webkit-text-fill-color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.nav-link {
    font-size: var(--fs6);
    text-transform: uppercase;
    font-family: "Montserat", sans-serif;
}

.footer-link {
    font-family: "Montserat", sans-serif;
    font-size: var(--fs7);
    text-transform: uppercase;
    font-weight: 300;
}

.link {
    font-family: "Montserat", sans-serif;
    text-decoration: none;
}

.win-loss-container {
    font-size: var(--fs1);
}

/* End typography */
