/* app/scss/globals/typography.scss */

@use "../util/" as *;

h1 {
    font-family: "astrudregular", sans-serif;
    font-size: rem(48);
}

p {
    transition: 1s ease;

    &:hover {
        color: blue;
    }
}

/* End typography */
