@use "../../util" as *;
@use "../../abstracts" as *;

.about-section {
    padding: $fs1 $fs6 $fs4 $fs6;
    position: relative;

    .divider-top {
        @include divider(top);
    }

    .divider-icon {
        @include divider-icon;
    }

    h3 {
        margin-bottom: rem(16);
    }
    p {
        margin-bottom: rem(10);
    }
}
