@use "../../util" as *;
@use "../../abstracts" as *;

.contact-section {
    padding: $fs4 $fs6;
    position: relative;

    .divider-bottom {
        @include divider(bottom, 180);
    }

    .divider-icon {
        @include divider-icon;
    }

    .contact-text {
        h3,
        p {
            margin-bottom: $fs6;
        }
    }
}
