@use "../../util" as *;
@use "../../abstracts" as *;

main {
    .hero-section {
        position: relative;
        padding: $fs1 $fs6;

        .hero-content {
            .hero-images-collage {
                display: flex;
                justify-content: center;
                margin-bottom: $fs1;
            }

            .hero-img-1 {
                width: 50%;
                transform: translate(20%, 0);
                z-index: 19;
            }

            .hero-img-2 {
                width: 50%;
                transform: translate(-15%, 25%);
                z-index: 20;
            }

            .hero-text-container {
                & h2 {
                    margin-bottom: $fs6;
                }

                & p {
                    margin-bottom: $fs9;
                }

                & p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
