@use "../../util/" as *;

.footer-grid-container {
    display: grid;
    grid-template-columns: repeat(2, rem(125));
    grid-template-rows: 1fr;
    padding: 2em;
    gap: 2em;

    .grid-title {
        margin-bottom: 0.5em;
    }

    .footer-icon {
        margin-right: 0.5em;
    }

    ul {
        padding: 0;
        margin: 0;
    }
}
