@use "../../util/" as *;

.nav-container {
    width: 100%;
    @include flexBox(column, center, center);
    padding: rem(16) rem(0);
}

nav {
    width: 90%;
    border: 1px solid red;
    @include flexBox(center, space-between);
    // gap: rem(25);
}
