@use "../../util/" as *;

@include md {
    .container > * {
        max-width: rem(920);
        margin: 0 auto;
    }
    .footer-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
