@use "../../util/" as *;

.contact-section {
    padding: var(--fs4) var(--fs6);
    position: relative;

    .divider-bottom {
        @include divider(bottom, 180);
    }

    .divider-icon {
        @include divider-icon;
    }

    .contact-text {
        h3,
        p {
            margin-bottom: var(--fs6);
        }
    }
}
