@use "../../util/" as *;

.about-section {
    padding: var(--fs1) var(--fs6) var(--fs4) var(--fs6);
    position: relative;

    .divider-top {
        @include divider(top);
    }

    .divider-icon {
        @include divider-icon;
    }

    h3 {
        margin-bottom: rem(16);
    }
    p {
        margin-bottom: rem(10);
    }
}
