$bg-color-light: hsl(0, 0%, 85%);
$bg-color-dark: hsl(0, 0%, 10%);
$team-color-orange: hsl(22, 97%, 52%);
$team-color-orange-hover: hsl(22, 76%, 67%);
$team-color-purple: hsl(264, 84%, 20%);
$schedule-even-rows: hsl(0, 0%, 75%);
