$bg-color-light: hsl(0, 0%, 85%);
$title-text-white: hsl(0, 0%, 100%);
$bg-color-light-tint: hsl(0, 0%, 84%);
$bg-color-dark: hsl(0, 0%, 14%);
$bg-color-dark-shade1: hsl(0, 0%, 15%);
$team-color-orange: hsl(22, 97%, 52%);
$team-color-orange-hover: hsl(22, 76%, 67%);
$team-color-purple: hsl(264, 84%, 20%);
$schedule-even-rows: hsl(0, 0%, 75%);
