$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px,
);

@mixin divider-icon {
    display: block;
    width: calc(103% + 1.3px);
    height: 30px;
    transform: rotateY(180deg);
}

@mixin divider($property: top, $rotate: 0) {
    position: absolute;
    #{$property}: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(#{$rotate}deg);
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin xs {
    @media (min-width: map-get($breakpoints, "xs")) {
        @content;
    }
}
@mixin sm {
    @media (min-width: map-get($breakpoints, "sm")) {
        @content;
    }
}
@mixin md {
    @media (min-width: map-get($breakpoints, "md")) {
        @content;
    }
}
@mixin lg {
    @media (min-width: map-get($breakpoints, "lg")) {
        @content;
    }
}
@mixin xl {
    @media (min-width: map-get($breakpoints, "xl")) {
        @content;
    }
} ;
